<div class="login-container">
    <div class="login-left">
      <h2>Login!</h2>
      <p>Getting started</p>
      <form>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="test@cypcode.com">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="******">
        <p><a href="#">Forgot password?</a></p>
        <button type="submit" class="btn btn-signin">Sign In</button>

      <button class="btn btn-google">Sign in with Google</button>
      <button class="btn btn-apple">Sign in with Apple</button>
      </form>
      <p>Don't have an account? <a href="#">Create Account</a></p>
    </div>
    <div class="login-right">
      <div class="login-info">
        <h3>App-Name</h3>
        <p>Get started with cloud software solution to dashboards, metrics, analytics, and reporting.</p>
        <!-- <img src="assets/ocean-view.jpg" alt="App example"> -->
      </div>
    </div>
  </div>